apiVersion: v1
kind: Pod
metadata:
  name: debug-pod
spec:
  containers:
    - name: debug
      image: plojyon/debug
      tty: true
      stdin: true
      env:
        - name: S3_USERNAME
          valueFrom:
            secretKeyRef:
              name: minio
              key: rootUser
        - name: S3_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio
              key: rootPassword
  restartPolicy: Never

