apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ include "gateway.fullname" . }}
spec:
  gatewayClassName: nginx
  listeners:
    - name: https-listener
      protocol: HTTPS
      port: {{ .Values.gateway.port }}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: {{ .Values.gateway.tlsSecret }}
      allowedRoutes:
        namespaces:
          from: All

---

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "gateway.route" . }}
spec:
  hostnames:
    - {{ .Values.frontend.host }}
    - {{ .Values.signalling.host }}
  parentRefs:
    - name: {{ include "gateway.fullname" . }}
  rules:
    - matches:
        - path:
            value: /ws
      backendRefs:
        - name: {{ include "signalling.fullname" . }}
          port: {{ .Values.signalling.ws.port }}
    - matches:
        - method: GET
      backendRefs:
        - name: {{ include "frontend.fullname" . }}
          port: {{ .Values.frontend.port }}

---

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "gateway.route" . }}
spec:
  hostnames:
    - {{ .Values.keycloak.host }}
  parentRefs:
    - name: {{ include "gateway.fullname" . }}
  rules:
    - backendRefs:
        - name: {{ include "keycloak.fullname" . }}
          port: {{ .Values.keycloak.port }}
