apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ include "gateway.fullname" . }}
spec:
  gatewayClassName: nginx
  listeners:
    - name: https-listener
      protocol: HTTPS
      port: {{ .Values.gateway.port }}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: {{ .Values.gateway.tlsSecret }}
      allowedRoutes:
        namespaces:
          from: All

