apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels: {{- include "common.labels" . | nindent 4 }}
spec:
  ports:
    - protocol: TCP
      port: {{ .Values.keycloak.port }}
      targetPort: http
      name: http
  selector: {{- include "keycloak.selectorLabels" . | nindent 4 }}
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  labels: {{- include "common.labels" . | nindent 4 }}
  name: keycloak-discovery
spec:
  selector: {{- include "keycloak.selectorLabels" . | nindent 4 }}
  clusterIP: None
  type: ClusterIP

---

apiVersion: apps/v1
# Use a stateful setup to ensure that for a rolling update Pods are restarted with a rolling strategy one-by-one.
# This prevents losing in-memory information stored redundantly in two Pods.
kind: StatefulSet
metadata:
  name: keycloak
  labels: {{- include "keycloak.labels" . | nindent 4 }}
spec:
  serviceName: keycloak-discovery
  # Run with one replica to save resources, or with two replicas to allow for rolling updates for configuration changes
  replicas: {{ .Values.keycloak.replicas }}
  selector:
    matchLabels: {{- include "keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "keycloak.labels" . | nindent 8 }}
    spec:
      containers:
        - name: keycloak
          image: {{ printf "%s:%s" .Values.keycloak.image.name .Values.keycloak.image.tag }}
          args: ["start"]
          env: 
{{ toYaml .Values.keycloak.env | indent 12 }}
          ports:
            - name: http
              containerPort: 8080
            - name: jgroups
              containerPort: 7800
            - name: jgroups-fd
              containerPort: 57800
          startupProbe:
            httpGet:
              path: /health/started
              port: 9000
            periodSeconds: 1
            failureThreshold: 600              
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9000
            periodSeconds: 10
            failureThreshold: 3              
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9000
            periodSeconds: 10
            failureThreshold: 3              
          resources:
            {{- toYaml .Values.keycloak.resources | nindent 12 }}

---

# This is deployment of PostgreSQL with an ephemeral storage for testing: Once the Pod stops, the data is lost.
# For a production setup, replace it with a database setup that persists your data.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels: {{- include "postgres.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels: {{- include "postgres.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "postgres.labels" . | nindent 8 }}
    spec:
      containers:
      - name: postgres
        image: mirror.gcr.io/postgres:17
        env:
        - name: POSTGRES_USER
          value: "keycloak"
        - name: POSTGRES_PASSWORD
          value: "keycloak"
        - name: POSTGRES_DB
          value: "keycloak"
        - name: POSTGRES_LOG_STATEMENT
          value: "all"
        ports:
        - name: postgres
          containerPort: 5432
        volumeMounts:
        # Using volume mount for PostgreSQL's data folder as it is otherwise not writable
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: {}

---

apiVersion: v1
kind: Service
metadata:
  labels: {{- include "common.labels" . | nindent 4 }}
  name: postgres
spec:
  selector: {{- include "postgres.selectorLabels" . | nindent 4 }}
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP