apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels: {{- include "common.labels" . | nindent 4 }}
spec:
  ports:
    - protocol: TCP
      port: {{ .Values.keycloak.port }}
      targetPort: http
      name: http
  selector: {{- include "keycloak.selectorLabels" . | nindent 4 }}
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  labels: {{- include "common.labels" . | nindent 4 }}
  name: {{ include "keycloak.fullname" . }}-discovery
spec:
  selector: {{- include "keycloak.selectorLabels" . | nindent 4 }}
  clusterIP: None
  type: ClusterIP

---

apiVersion: apps/v1
# Use a stateful setup to ensure that for a rolling update Pods are restarted with a rolling strategy one-by-one.
# This prevents losing in-memory information stored redundantly in two Pods.
kind: StatefulSet
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels: {{- include "keycloak.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "keycloak.fullname" . }}-discovery
  # Run with one replica to save resources, or with two replicas to allow for rolling updates for configuration changes
  replicas: {{ .Values.keycloak.replicas }}
  selector:
    matchLabels: {{- include "keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "keycloak.labels" . | nindent 8 }}
    spec:
      containers:
        - name: keycloak
          image: {{ printf "%s:%s" .Values.keycloak.image.name .Values.keycloak.image.tag }}
          args: ["start"]
          env:
            - name: KC_BOOTSTRAP_ADMIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak.adminSecret }}
                  key: 'username'
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak.adminSecret }}
                  key: 'password'
            - name: 'KC_DB_USERNAME'
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak.secret }}
                  key: username
            - name: 'KC_DB_PASSWORD'
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak.secret }}
                  key: password
            - name: 'KC_DB_URL_DATABASE'
              value: 'keycloak'
            - name: 'KC_DB_URL_HOST'
              value: {{ include "cluster.keycloak.fullname" .}}-rw
            - name: 'KC_DB_URL_PORT'
              value: '5432'
            - name: 'KC_DB'
              value: 'postgres'
{{ toYaml .Values.keycloak.env | indent 12 }}
          ports:
            - name: http
              containerPort: 8080
            - name: jgroups
              containerPort: 7800
            - name: jgroups-fd
              containerPort: 57800
          startupProbe:
            httpGet:
              path: /health/started
              port: 9000
            periodSeconds: 1
            failureThreshold: 600
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9000
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9000
            periodSeconds: 10
            failureThreshold: 3
          resources:
            {{- toYaml .Values.keycloak.resources | nindent 12 }}


---

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "gateway.route" . }}-keycloak
spec:
  hostnames:
    - {{ .Values.keycloak.host }}
  parentRefs:
    - name: {{ include "gateway.fullname" . }}
  rules:
    - backendRefs:
        - name: {{ include "keycloak.fullname" . }}
          port: {{ .Values.keycloak.port }}


