gateway:
  tlsSecret: solo.yon.si-tls
  port: 443

frontend:
  replicas: 1
  host: solo.yon.si
  image:
    name: plojyon/solo-frontend
    tag: latest
    pullPolicy: Always
  port: 8080

signalling:
  replicas: 1
  host: signal.solo.yon.si
  ws:
    port: 3000
  image:
    name: plojyon/solo-signal
    tag: latest
    pullPolicy: Always

databases:
  keycloak:
    adminSecret: keycloak-admin-secret
    secret: keycloak-usr-secret # username: keycloak
    superuserSecret: pg-superuser-secret # username: postgres
  app:
    secret: pg-usr-secret # username: app
    superuserSecret: pg-superuser-secret # username: postgres

databases:
  keycloak:
    adminSecret: keycloak-admin-secret
    secret: keycloak-usr-secret # username: keycloak
    superuserSecret: pg-superuser-secret # username: postgres
  app:
    secret: pg-usr-secret # username: app
    superuserSecret: pg-superuser-secret # username: postgres

keycloak:
  replicas: 1
  host: auth.solo.yon.si
  port: 8080
  image:
    name: quay.io/keycloak/keycloak
    tag: "26.4.4"
    pullPolicy: IfNotPresent
  env:
  # In a production environment, add a TLS certificate to Keycloak to either end-to-end encrypt the traffic between
  # the client or Keycloak, or to encrypt the traffic between your proxy and Keycloak.
  # Respect the proxy headers forwarded by the reverse proxy
  # In a production environment, verify which proxy type you are using, and restrict access to Keycloak
  # from other sources than your proxy if you continue to use proxy headers.
  - name: KC_PROXY_HEADERS
    value: "xforwarded"
  - name: KC_HTTP_ENABLED
    value: "true"
  # In this explorative setup, no strict hostname is set.
  # For production environments, set a hostname for a secure setup.
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: 'KC_CACHE'
    value: 'ispn'
  # Passing the Pod's IP primary address to the JGroups clustering as this is required in IPv6 only setups
  - name: POD_IP
    valueFrom:
      fieldRef:
        fieldPath: status.podIP
  # Instruct JGroups which DNS hostname to use to discover other Keycloak nodes
  # Needs to be unique for each Keycloak cluster
  - name: KC_CACHE_EMBEDDED_NETWORK_BIND_ADDRESS
    value: '$(POD_IP)'
  - name: KC_LOG_LEVEL
    value: DEBUG
  - name: KC_LOG_CONSOLE_LEVEL
    value: DEBUG

minio:
  host: minio.solo.yon.si
  fullnameOverride: minio
  mode: standalone
  persistence:
    enabled: false
  resources:
    limits:
      cpu: 200m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 512Mi
  buckets:
    - name: loki-data
      policy: public
      purge: false
    - name: loki-chunks
      policy: public
      purge: false
    - name: loki-ruler
      policy: public
      purge: false

fluent-bit:
  dashboards:
    enabled: true
  metricsPort: 2020
  outputs:
    stdout:
      - name: stdout
        match: "*"

  # See Lua script configuration example in README.md
  luaScripts: {}

  config:
    inputs: |
      [INPUT]
          Name              tail
          Path              /var/log/containers/*.log
          Parser            docker
          Tag               kube.*
          Refresh_Interval  5
          DB                /var/log/flb_kube.db
          Mem_Buf_Limit     5MB
          Skip_Long_Lines   Off

      [INPUT]
          Name              tail
          Path              /var/log/*.log
          Parser            docker
          Tag               host.*
          Refresh_Interval  5
          DB                /var/log/flb_host.db
          Mem_Buf_Limit     5MB
          Skip_Long_Lines   Off

    filters: |
      [Filter]
          Name    kubernetes
          Match    *
          Merge_Log    true
          K8S-Logging.Parser    true
          Labels    true
          Annotations    true

    outputs: |
      [OUTPUT]
          Name loki
          Match kube.*
          Host loki-write-stupid
          Port 3100
          Retry_Limit False
          Auto_Kubernetes_Labels true

      [OUTPUT]
          Name loki
          Match host.*
          Host loki-write-stupid
          Port 3100
          Retry_Limit False
          Auto_Kubernetes_Labels true

loki:
  host: loki.solo.yon.si
  # Stupid fucker can't read
  #fullnameOverride: loki
  loki:
    commonConfig:
      # Note: You must specify commonConfig.replication_factor: 1 if you are only using 1 replica, otherwise requests will fail.
      replication_factor: 1
    auth_enabled: false
    schemaConfig:
      configs:
        - from: "2024-04-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    storage:
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      type: s3
      s3:
        endpoint: "http://minio:9000"
        accessKeyId: "${S3_USERNAME}"
        secretAccessKey: "${S3_PASSWORD}"
        region: us-east-1
        s3ForcePathStyle: true
        insecure: true
    pattern_ingester:
      enabled: true
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
    ruler:
      enable_api: true

  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1
    extraArgs:
      - '-config.expand-env=true'
    extraEnv:
      - name: S3_USERNAME
        valueFrom:
          secretKeyRef:
            name: minio
            key: rootUser
      - name: S3_PASSWORD
        valueFrom:
          secretKeyRef:
            name: minio
            key: rootPassword

  # Zero out replica counts of other deployment modes
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0


grafana:
  host: grafana.solo.yon.si
  persistence:
    # type: pvc
    enabled: false
    # storageClassName: default
    ## (Optional) Use this to bind the claim to an existing PersistentVolume (PV) by name.
    # volumeName: ""
  # extraPvcLabels:
  #   app.kubernetes.io/name: grafana
  #   app.kubernetes.io/instance: solo
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          url: http://loki-read-stupid
          isDefault: true
        - name: Prometheus
          type: prometheus
          url: http://prometheus

prometheus:
  server:
    fullnameOverride: prometheus
